.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 480px) {

  .gallery {
    gap: 12px;
  }

}
