.travel__link {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 720px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {

  .travel__link {
    min-height: 640px;
  }

}

@media screen and (max-width: 768px) {

  .travel__link {
    min-height: 480px;
  }

}

@media screen and (max-width: 650px) {

  .travel__link {
    min-height: 200px;
  }

}
