.nav-list__link {
  display: block;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-list__link:hover, .nav-list__link:focus {
  opacity: .8;
}

.nav-list__link:active {
  opacity: 1;
}

@media screen and (max-width: 650px) {

  .nav-list__link {
    font-size: 24px;
    line-height: 24px;
  }

}
