.header__language-link {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  transition: opacity .4s ease;
}

.header__language-link:hover, .header__language-link:focus {
  opacity: .8;
}

.header__language-link:active{
  opacity: 1;
}

@media screen and (max-width: 480px) {

  .header__language-link {
    font-size: 18px;
    line-height: 20px;
  }

}
