.travel__text {
  margin: 0;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 650px) {

  .travel__text {
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
  }

}
