.centering {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {

  .centering {
    padding: 0 24px;
  }

}

@media screen and (max-width: 480px) {

  .centering {
    padding: 0 16px;
  }

}
