@media screen and (max-width: 1024px) {

  .images-gallery {
    padding: 0 48px;
  }

}

@media screen and (max-width: 768px) {

  .images-gallery {
    padding: 0 24px;
  }

}

@media screen and (max-width: 480px) {

  .images-gallery {
    padding: 0 16px;
  }

}
