.place__image-wrap {
  display: block;
}

@media screen and (max-width: 650px) {

  .place__image-wrap {
    width: auto;
    margin-left: -24px;
    margin-right: -24px;
  }

}

@media screen and (max-width: 480px) {

  .place__image-wrap {
    margin-left: -16px;
    margin-right: -16px;
  }

}
