.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0 0 40px;
  text-align: left;
  max-width: 690px;
}

@media screen and (max-width: 768px) {

  .intro__title {
    max-width: 100%;
  }

}

@media screen and (max-width: 750px) {

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

}
